<% content_for :title, "Death Pool - Deaths"%>
<pre class="text-center title shadow-text default-color">Character   Status</pre>
<div id="status-table row">
<table class="table table-condensed table-middle default-color">
  <thead>
    <tr class="shadow-text table-top">
      <th class="text-center" colspan="2">Character</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>
  <tbody class="unit-table">
    <% Death.all.each do |d| %>
      <% if d.id%2 ==  0 %>
        <tr class="tablerow1 shadow-text">
      <% else %>
        <tr class="tablerow2 shadow-text">
      <% end %>
      <td><%= image_tag "characters/"+d.name+".jpg", :class=>"image-character" %></td>
      <td id="<%d.name%>" class="text-center character-name"><%= d.name %></td>
      <td class=" text-center align-middle">
        <% if d.status.eql? "alive" %>
          <button id="<%=d.did%>" class="btn btn-character btn-alive nowrap" onclick="status(this)">Alive</button>
        <% elsif d.status.eql? "dead" %>
          <button id="<%=d.did%>" class="btn btn-character btn-dead nowrap" onclick="status(this)">Dead</button>
        <% else %>
          <button id="<%=d.did%>" class="btn btn-character btn-walker nowrap" onclick="status(this)">Wight</button>
        <%end%>
      </td>
    <%end%>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
