<%= form_for(@user, url: password_reset_path(params[:id])) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="">
      <h3><%= pluralize(user.errors.count, "error") %> prohibited this password from being updated:</h3>
      <ul >
      <% user.errors.full_messages.each do |message| %>
        <li style="font-size:1.3rem"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
       </div>
       <%= form.password_field :password_new, value:nil,placeholder:"New Password (6-20 Characters)", autocomplete:"new-password", class:"form-control" %>
    </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
         <%= form.password_field :password_confirmation, value:nil,placeholder:"Confirm Password",  autocomplete:"new-password", class:"form-control"%>
      </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
    <%= hidden_field_tag :email, @user.email %>
    <%= hidden_field_tag :username, @user.username %>
    <%= form.submit "Update Password", class:"btn btn-outline-light btn-main shadow-text btn-block" %>
    </div> <!-- form-group// -->
  </form>
<% end %>
