<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<pre class="title text-center shadow-text">House   Leaderboards</pre>
<div class="container">
  <% House.all.each do |h| %>
  <div class="row">
    <div class="col-sm-10 mt-4 mb-4">
      <div class="d-flex ">
        <div id="sigil" class="text-center"><%= image_tag h.image, class:"image-house" %></div>
        <div id="house-<%=h.hid%>" class="ml-4">
          <div class="d-flex">
            <pre style="margin:auto; margin-left:0rem"class="house-title shadow-text"><%=h.name%></pre>
            <div style="margin:auto; margin-left:0rem"class="sub-title shadow-text"> - <%=h.points%> points</div>
          </div>
          <pre id="words" class="title words shadow-text"><%=h.words%></pre>
          <div id="members-<%h.hid%>">
            <% h.users.all.each do |u| %>
            <li class="sub-title shadow-text"><%=u.username%></li>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
