<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<pre class="title text-center shadow-text">House   Leaderboards</pre>
<div class="container">
  <% House.all.each do |h| %>
  <div class="row">
    <div class="col-sm-10 mt-4">
      <div class="d-flex ">
        <div id="sigil" class="text-center"><%= image_tag h.image, class:"image-house" %></div>
        <div id="house-<%=h.hid%>" class="d-flex">
          <pre style="margin:auto; margin-left:2rem"class="house-title shadow-text"><%=h.name%></pre>
          <pre style="margin:auto; margin-left:0rem"class="sub-title shadow-text"> - <%=h.points%> points</pre>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
