<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<pre class="title text-center shadow-text">House   Leaderboards</pre>
<div class="container mb-5">
  <% House.all.each do |h| %>
  <div class="row bonus-card mb-2 mt-2">
    <div class="col-sm-10 mt-4 mb-4">
      <div class="d-flex">
        <div id="sigil" class="text-center"><%= image_tag h.image, class:"image-house" %></div>
        <div id="house-<%=h.hid%>" class="ml-4">
          <div class="d-flex">
            <div class="mb-0 house-title shadow-text"><%=h.name%> </div>
            <div class="sub-title shadow-text"> - <%=h.points%> points</div>
          </div>
          <div class="d-flex">
            <pre id="words" class="pt-0 title words shadow-text"><%=h.words%>   </pre>
            <%= link_to 'House Predictions', house_path(h.name), :class=>"shadow-text btn btn-outline-light btn-house"%>
          </div>
          <div id="members-<%h.hid%>">
            <% h.users.all.each do |u| %>
            <li class="h3 shadow-text"><%=u.username%></li>
            <% end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
