<%= link_to 'Back', houses_path, class:"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<div class="container">
  <div class="title text-center shadow-text"><%=@house.name%></div>
  <pre id="words" class="title words text-center shadow-text"><%=@house.words%></pre>
  <div id="sigil" class="text-center"><%= image_tag @house.image, class:"image-house" %></div>
</div>

<div class="container">
  <div class="row mt-4 pb-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="bonus-card">
        <div class="card-title sub-title text-center mb-0 mt-1 shadow-text">Bonus Questions</div>
        <% HouseQuestion.where("episode < ?", current_episode+1).each do |q| %>
          <div class="question-and-answer">
            <div class="question shadow-text"><%=q.qid%>. <%=q.text%></div>
            <div class="answer shadow-text character-name ml-4" style="color:#f9f2de;"><%=@house.house_answers.find_by(aid: q.id).text%></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <% if !(@house.alive_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="alive progress-bar"><div><i class="fas fa-heart"></i> Alive </div></div>
        </div>
        <div id="alive-characters" class="character-list d-flex">
          <% @house.alive_characters.all.each do |c| %>
            <div id="<%=c.name%>" class="bonus-card character character-name text-center">
              <%= image_tag "characters/"+c.name+".jpg", class:"shadow-text image-character" %>
              <div class="shadow-text text-center"><%=c.name%></div>
            </div>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
  <% if !(@house.dead_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="dead progress-bar"><div><i class="fas fa-skull-crossbones"></i> Dead </div></div>
        </div>
        <div id="dead-characters" class="character-list d-flex">
          <% @house.dead_characters.all.each do |c| %>
            <div id="<%=c.name%>" class="bonus-card character character-name text-center">
              <%= image_tag "characters/"+c.name+".jpg", class:"shadow-text image-character" %>
              <div class="shadow-text text-center"><%=c.name%></div>
            </div>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
  <% if !(@house.wight_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="wight progress-bar"><div><i class="fas fa-skull"></i> Wight </div></div>
        </div>
        <div id="wight-characters" class="character-list d-flex">
          <% @house.wight_characters.all.each do |c| %>
            <div id="<%=c.name%>" class="bonus-card character character-name text-center">
              <%= image_tag "characters/"+c.name+".jpg", class:"shadow-text image-character" %>
              <div class="shadow-text text-center"><%=c.name%></div>
            </div>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <%end %>
  <% if !(@house.no_status_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="no-prediction progress-bar"><div><i class="fas fa-circle-notch"></i> No Prediction </div></div>
        </div>
        <div id="no-prediction-characters" class="character-list d-flex">
          <% @house.no_status_characters.all.each do |c| %>
            <div id="<%=c.name%>" class="bonus-card character character-name text-center">
              <%= image_tag "characters/"+c.name+".jpg", class:"shadow-text image-character" %>
              <div class="shadow-text text-center"><%=c.name%></div>
            </div>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
</div>
