<% content_for :title, "Death Pool - "+@house.name%>
<%= link_to 'Back', houses_path, class:"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<div class="container">
  <div class="title text-center shadow-text"><%=@house.name%></div>
  <div class="sub-title user-title text-center shadow-text mb-3">Total Points: <%=@house.points%></div>
  <pre id="words" class="title words text-center shadow-text"><%=@house.words%></pre>
  <div id="sigil" class="text-center"><%= image_tag @house.image, class:"image-house" %></div>
</div>

<div class="container">
  <div class="row mt-4 pb-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="bonus-card p-3">
        <div class="card-title sub-title text-center mb-0 mt-1 shadow-text">Weekly House Questions</div>
        <div class="card-title h2 text-center mb-4 mt-1 shadow-text">Points: <%=@house.get_answer_points%></div>
        <% if current_user.house.eql? @house or current_user.role.eql? "admin" %>
          <div class="card-title h2 text-center mb-0 mt-2 shadow-text">Current Episode</div>
          <div class="question shadow-text text-center">Episode <%=current_episode%></div>
          <div class="mb-4">
            <% HouseQuestion.where(episode: current_episode).each do |q| %>
              <div class="question-and-answer mb-2">
                <div class="question shadow-text"><%=q.qid%>. <%=q.text%></div>
                <div class="answer shadow-text character-name ml-4 d-flex" style="color:#f9f2de;">
                  <% @answer = @house.house_answers.find_by(aid: q.id)%>
                  <div>
                    <% if @answer.correct.eql? true %>
                      <i class="fas fa-check-circle mr-1 my-auto" style="color:#52ad6a"></i>
                    <% elsif @answer.correct .eql? false%>
                      <i class="fas fa-times-circle mr-1 my-auto"style="color:#ad5252"></i>
                    <%else %>
                      <i class="fas fa-clock mr-1 my-auto"></i>
                    <% end %>
                  </div>
                  <div class="ml-2"> <%=@answer.answer%></div>
                  <div class="ml-4" style="font-weight:normal"><%=@answer.text%></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="card-title h2 text-center mb-0 mt-4 shadow-text">Previous Episodes</div>
        <% HouseQuestion.where("episode < ?", current_episode).each do |q| %>
          <div class="question-and-answer mb-2">
            <div class="question shadow-text"><%=q.qid%>. <%=q.text%></div>
            <div class="answer shadow-text character-name ml-4 d-flex" style="color:#f9f2de;">
              <% @answer = @house.house_answers.find_by(aid: q.id)%>
              <div>
              <% if @answer.correct.eql? true %>
                <i class="fas fa-check-circle mr-1 my-auto" style="color:#52ad6a"></i>
              <% elsif @answer.correct .eql? false%>
                <i class="fas fa-times-circle mr-1 my-auto"style="color:#ad5252"></i>
              <%else %>
                <i class="fas fa-clock mr-1 my-auto"></i>
              <% end %>
              </div>
              <div class="ml-2">
                <%=@answer.answer%>
              </div >
              <div class="ml-4" style="font-weight:normal">
                <%@answer.text%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-title sub-title text-center mb-0 mt-1 shadow-text">House Character Predictions</div>
      <div class="card-title h2 text-center mb-2 mt-1 shadow-text">Points: <%=@house.get_character_points%></div>
    </div>
  </div>
  <% if !(@house.alive_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="alive progress-bar"><div><i class="fas fa-heart"></i> Alive </div></div>
        </div>
        <div id="alive-characters" class="character-list d-flex">
          <% @house.alive_characters.all.each do |c| %>
            <% @c = c %>
            <%= render 'formCharacter', character: @c %>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
  <% if !(@house.dead_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="dead progress-bar"><div><i class="fas fa-skull-crossbones"></i> Dead </div></div>
        </div>
        <div id="dead-characters" class="character-list d-flex">
          <% @house.dead_characters.all.each do |c| %>
            <% @c = c %>
            <%= render 'formCharacter', character: @c %>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
  <% if !(@house.wight_characters == []) %>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="wight progress-bar"><div><i class="fas fa-skull"></i> Wight </div></div>
        </div>
        <div id="wight-characters" class="character-list d-flex">
          <% @house.wight_characters.all.each do |c| %>
            <% @c = c %>
            <%= render 'formCharacter', character: @c %>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <%end %>
  <% if !(@house.no_status_characters == []) %>
    <div class="row mt-4 pb-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="progress w-100 progress-bar-text shadow-text">
          <div role="progressbar" class="no-prediction progress-bar"><div><i class="fas fa-circle-notch"></i> No Prediction </div></div>
        </div>
        <div id="no-prediction-characters" class="character-list d-flex">
          <% @house.no_status_characters.all.each do |c| %>
            <% @c = c %>
            <%= render 'formCharacter', character: @c %>
          <%end%>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <% end %>
</div>
