<%= form_for @user, url: update_username_path, :html => {:autocomplete => "off"},  method: :post  do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being created:</h2>
      <ul >
      <% user.errors.full_messages.each do |message| %>
        <li style="font-size:2rem"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"> <i class="fab fa-suse"></i> </span></div>
         <%= form.text_field :username, value:nil, placeholder:"New Username (5-15 Characters)", autocomplete:"new-username", class:"form-control" %>
       </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"> <i class="fa fa-lock"></i> </span></div>
         <%= form.password_field :password, value:nil, placeholder:"Current Password", autocomplete:"new-password", class:"form-control" %>
       </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
    <%= form.hidden_field :uuid, value: @user.uuid  %>
    <%= form.submit "Update Username", class:"btn btn-outline-light btn-main shadow-text" %>
    </div> <!-- form-group// -->
  </form>
<% end %>
