<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="default-color">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being created:</h2>
      <ul >
      <% user.errors.full_messages.each do |message| %>
        <li style="font-size:2rem"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="new-user--form"class="form">
  <div class="form-group">
    <%= form.label :email, "Your Email", class:'shadow-text form-text' %>
    <%= form.text_field :email, class:"form-input" %>
  </div>
  <div class="form-group">
    <%= form.label :email, "Your Username", class:'shadow-text form-text' %>
    <%= form.text_field :username, class:"form-input" %>
  </div>
  <div class="form-group">
    <%= form.label :password, "Your Password", class:'shadow-text form-text' %>
    <%= form.password_field :password, class:'form-input' %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, "Confirm Password", class:'shadow-text form-text' %>
    <%= form.password_field :password_confirmation, class:"form-input" %>
  </div>
  <div class="actions">
    <%= form.submit "Create Player", :class=>"btn btn-main btn-outline-light" %>
  </div>
</div>
<% end %>
