
<%= form_for @user, url: update_password_path, method: :post  do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being created:</h2>
      <ul >
      <% user.errors.full_messages.each do |message| %>
        <li style="font-size:2rem"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
         <%= form.password_field :password_current, value:nil,placeholder:"Current Password", autocomplete:"new-password", class:"form-control" %>
      </div> <!-- input-group.// -->
      </div> <!-- form-group// -->
      <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
       </div>
       <%= form.password_field :password_new, value:nil,placeholder:"New Password (6-15 Characters)", autocomplete:"new-password", class:"form-control" %>
    </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
         <%= form.password_field :password_confirmation, value:nil,placeholder:"Confirm Password",  autocomplete:"new-password", class:"form-control"%>
      </div> <!-- input-group.// -->
    </div> <!-- form-group// -->
    <div class="form-group">
    <%= form.hidden_field :uuid, value: @user.uuid  %>
    <%= form.submit "Update Password", :class=>"btn btn-outline-light btn-main shadow-text" %>
    </div> <!-- form-group// -->
  </form>
<% end %>
