<% content_for :title, "Death Pool - Account"%>
<% flash.each do |key, value| %>
  <% if value.include? "Error" %>
    <div class="alert alert-danger text-center" role="alert"><%= value %></div>
  <% else %>
    <div class="alert alert-success text-center" role="alert"><%= value %></div>
  <%end%>
<% end %>
<div class="container">
  <div class="text-center title shadow-text">Account Settings</div>
  <div class="text-center user shadow-text"><%=@user.username%></div>
  <div class="text-center sub-title shadow-text"><%=@user.email%></div>
  <div class="row" style="margin-top:4rem">
    <div class="col-sm-4">
      <div class="text-center sub-title shadow-text">Update House</div>
      <%= render 'formHouse', user: @user %>
    </div>
    <div class="col-sm-4">
      <div class="text-center sub-title shadow-text">Update Password</div>
      <%= render 'formPassword', user: @user %>
    </div>
    <div class="col-sm-4">
      <div class="text-center sub-title shadow-text">Update Username</div>
      <%= render 'formUsername', user: @user %>
    </div>
  </div>
  <div class="row text-center" style="margin-top:6rem">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="text-center sub-title shadow-text">Reset Predictions</div>
        <h4 class="shadow-text">This will reset all of your character predictions and any bonus questons you have answered</h4>
        <%= link_to "Reset Predictions", reset_entry_path(@user.uuid), :class=>"btn btn-outline-light btn-main shadow-text", :data => {:confirm => 'Are you sure? There is no way to reverse this'} %>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
