<% content_for :title, "Death Pool - Players"%>
<div id="title" class="title text-center shadow-text">Users</div>
<table style="color:white;margin:0px;width:auto;margin-left:auto;margin-right:auto" class="table table-condensed ">
  <thead>
    <tr class="shadow-text table-top">
      <th>Email</th>
      <th colspan="4">Paid</th>
    </tr>
  </thead>
  <tbody class="user-list">
    <% @users.each do |user| %>
      <tr class="" >
        <td class="shadow-text"style="vertical-align:middle"><%= user.email %></td>
        <td class=""><a email="<%=user.email%>" uid="<%=user.id%>"onclick="paid(this)" style="vertical-align:middle"><%if user.payed%><span id="<%=user.id%>" class="glyphicon glyphicon-ok shadow-text"></span><%else%><span id="<%=user.id%>" class="glyphicon glyphicon-remove shadow-text"></span><%end%></a></td>
        <td class="user-column"><%= link_to 'Show', user_path(user.uuid), :class=>"btn btn-outline-light btn-alive"%></td>
        <td class="user-column"><%= link_to 'Edit', edit_user_path(user.uuid),:class=>"btn btn-outline-light btn-alive" %></td>
        <td class="user-column"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-outline-light btn-alive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>=
<br>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
