<% content_for :title, "Death Pool - Leaderboards"%>
<div id="title" class="title text-center shadow-text ">Leaderboards</div>
<table style="color:white;margin:0px;width:auto;margin-left:auto;margin-right:auto" class="table table-condensed ">
  <thead>
    <tr class="shadow-text table-top text-center">
    <% if current_user.role.eql? "admin" %>
      <th>Paid</th>
    <%end%>
      <th>Username</th>
      <th>Points</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody class="user-list">
    <% @users.each do |user| %>
      <tr class="table-row">
      <% if current_user.role.eql? "admin" %>
        <td class=""><a email="<%=user.email%>" uid="<%=user.id%>"onclick="paid(this)" style="vertical-align:middle" class="text-center"><%if user.payed%><span id="<%=user.id%>" class="glyphicon glyphicon-ok shadow-text"></span><%else%><span id="<%=user.id%>" class="glyphicon glyphicon-remove shadow-text"></span><%end%></a></td>
      <% end %>
        <td class="shadow-text"style="vertical-align:middle"><%= user.username %></td>
          <td class="shadow-text text-center"style="vertical-align:middle"><%= user.points %></td>
        <td class="user-column"><%= link_to 'View Entry', user_path(user.uuid), :class=>"btn btn-outline-light btn-main shadow-text"%></td>
      <% if current_user.role.eql? "admin" %>
        <td class="user-column"><%= link_to 'Edit', edit_user_path(user.uuid),:class=>"btn btn-outline-light btn-character" %></td>
        <td class="user-column"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-outline-light btn-character" %></td>
      <%end%>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
