<% content_for :title, "Death Pool - Leaderboards"%>

<div class="container">
  <div class="row">
    <div id="title" class="title text-center shadow-text w-100 ">Leaderboards</div>
  </div>
  <div class="row">
    <div class="sub-title text-center shadow-text w-100">Total Players: <%=User.where(paid:true).count%></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="users">
        <div class="user-card d-flex w-auto">
          <div class="shadow-text user-name my-auto"><strong>User</strong></div>
          <div class="shadow-text user-points text-center my-auto"><strong>Points</strong></div>
          <div class="shadow-text user-house text-center my-auto"><strong>House</strong></div>
          <div class="shadow-text user-button text-center my-auto"><strong>Prediction</strong></div>
        </div>
        <% @users.order(points: :desc, created_at: :asc).each do |user| %>
          <div class="user-card d-flex w-auto">
            <div class="shadow-text user-name my-auto">
              <% if current_user.role.eql?"admin" %>
              <a uid="<%=user.id%>"onclick="paid(this)" style="vertical-align:middle" class="text-center">
                <span id="<%=user.id%>" class="glyphicon <%= user.paid ? "glyphicon-ok": "glyphicon-remove"%> shadow-text"></span>
              </a>
              <% end %>
              <%= user.username %></div>
            <div class="shadow-text user-points text-center my-auto"><%= user.points %></div>
            <div class="shadow-text user-house text-center mx-auto my-auto"><%= image_tag user.house.image, class:" my-auto image-house-sm" %></div>
            <div class="shadow-text user-button my-auto"><%= link_to 'View Entry', user_path(user.uuid), class:"btn btn-dark btn-block shadow-text"%></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<br>
<%= link_to 'Home', root_url, class:"topalignedleft btn btn-outline-light btn-back shadow-text" %>
