 <% content_for :title, "Death Pool - Predictions"%>
 <% flash.each do |key, value| %>
      <div class="alert alert-success text-center" role="alert"><%= value %></div>
<% end %>
<%= link_to 'Home', root_url, class:"topalignedleft btn btn-outline-light btn-back shadow-text" %>

<div id="picks" class="container mb-4">
  <div class="title user-title text-center shadow-text"><%=@user.username%></div>
  <% if current_user.eql? @user %>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card-title sub-title text-center mb-1 mt-1 shadow-text">Your Predictions</div>
      <div id="predictions">
        <% @user.characters.each do |c| %>
        <div class="bonus-card w-100 d-flex mt-2 mb-2 p-2">
          <div class="p-character-image""><%= image_tag "characters/"+c.name+".jpg", class:"image-character" %></div>
          <div class="p-character-name text-center character-name shadow-text my-auto mx-1" id="<%c.name%>"><%= c.name %></div>
          <div class="p-character-buttons d-flex shadow-text">
            <button id="alive-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="alive" role="button" class="btn shadow-text btn-character my-auto ml-1 <%= 'alive' if c.status.eql?"alive" %>" onclick="character_status(this)">Alive</button>
            <button id="dead-<%=c.cid%>"  character="<%=c.name%>" cid="<%=c.cid%>" status="dead"  role="button" class="btn shadow-text btn-character my-auto ml-1 <%= 'dead' if c.status.eql?"dead" %>" onclick="character_status(this)">Dead</button>
            <% if !c.name.eql? "The Night King" and !c.name.eql? "Viserion"%>
            <button id="wight-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="wight" role="button" class="btn shadow-text btn-character my-auto ml-1 <%= 'wight' if c.status.eql?"wight" %>" onclick="character_status(this)">Wight</button>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class='row mt-2' style="margin-bottom:6rem">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="card bonus-card">
      <article class="card-body">
      	<div class="card-title sub-title text-center shadow-text">Bonus Questions</div>
        <%= render 'formAnswer', user: @user %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<% else %>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="bonus-card">
        <div class="card-title sub-title text-center mb-0 mt-1 shadow-text">Bonus Questions</div>
        <% Question.all.each do |q| %>
          <div class="question-and-answer">
            <div class="question shadow-text"><%=q.qid%>. <%=q.text%></div>
            <div class="answer shadow-text character-name ml-4" style="color:#f9f2de;"><%=@user.answers.find_by(rid: q.qid).text%></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
<% if !(@user.alive_characters == []) %>
  <div class="row mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="progress w-100 progress-bar-text shadow-text">
        <div role="progressbar" class="alive progress-bar"><div><i class="fas fa-heart"></i> Alive </div></div>
      </div>
      <div id="alive-characters" class="character-list d-flex">
        <% @user.alive_characters.all.each do |c| %>
          <% @c = c %>
          <%= render 'formCharacter', character: @c %>
        <%end%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
<% end %>
<% if !(@user.dead_characters == []) %>
  <div class="row mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="progress w-100 progress-bar-text shadow-text">
        <div role="progressbar" class="dead progress-bar"><div><i class="fas fa-skull-crossbones"></i> Dead </div></div>
      </div>
      <div id="dead-characters" class="character-list d-flex">
        <% @user.dead_characters.all.each do |c| %>
          <% @c = c %>
          <%= render 'formCharacter', character: @c %>
        <%end%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
<% end %>
<% if !(@user.wight_characters == []) %>
  <div class="row mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="progress w-100 progress-bar-text shadow-text">
        <div role="progressbar" class="wight progress-bar"><div><i class="fas fa-skull"></i> Wight </div></div>
      </div>
      <div id="wight-characters" class="character-list d-flex">
        <% @user.wight_characters.all.each do |c| %>
          <% @c = c %>
          <%= render 'formCharacter', character: @c %>
        <%end%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
<%end %>
<% if !(@user.no_status_characters == []) %>
  <div class="row mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="progress w-100 progress-bar-text shadow-text">
        <div role="progressbar" class="no-prediction progress-bar"><div><i class="fas fa-circle-notch"></i> No Prediction </div></div>
      </div>
      <div id="no-prediction-characters" class="character-list d-flex">
        <% @user.no_status_characters.all.each do |c| %>
          <% @c = c %>
          <%= render 'formCharacter', character: @c %>
        <%end%>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
<% end %>
</div>
<%end%>
