<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
<div class="container">
  <div class="title user-title text-center shadow-text "><%=@user.username%></div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Character</th>
              <th>Prediction</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% current_user.characters.each do |c| %>
            <tr>
              <td style="width:10%"><%= image_tag "characters/"+c.name+".jpg", :class=>"image-character" %></td>
              <td id="<%c.name%>" style="width:30%"class="text-center character-name shadow-text"><%= c.name %></td>
              <td style="vertical-align:middle">
                <div class="d-flex shadow-text">
                  <button id="alive-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="alive" role="button" class="btn shadow-text btn-character <%= 'btn-alive' if c.status.eql?"alive" %>" onclick="character_status(this)">Alive</button>
                  <button id="dead-<%=c.cid%>"  character="<%=c.name%>" cid="<%=c.cid%>" status="dead"  role="button" class="btn shadow-text btn-character <%= 'btn-dead' if c.status.eql?"dead" %>" onclick="character_status(this)">Dead</button>
                <% if !c.name.eql? "The Night King" and !c.name.eql? "Viserion"%>
                  <button id="wight-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="wight" role="button" class="btn shadow-text btn-character <%= 'btn-wight' if c.status.eql?"wight" %>" onclick="character_status(this)">Wight</button>
                <%end%>
                  </div>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div id="questions" class="">
        <div id="questions-title" class="shadow-text">Bonus Questions</div>
        <%= form_tag "/answers" do %>
          <% Question.all.each do |q| %>
            <div id="question<%=q.qid%>" class="shadow-text question"><%=q.qid%>. <%=q.text%></div>
            <%= text_field_tag "answers[][text]", current_user.answers.find_by(rid: q.qid).text, :class=>"answer" %>
          <% end %>
          <div style="padding-top:8px"><%= submit_tag "Save Answers", :class=>"btn btn-outline-light btn-main shadow-text", :style=>"font-size:1.75rem;width:auto" %></div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back" %>
