 <% content_for :title, "Death Pool - Predictions"%>
 <% flash.each do |key, value| %>
      <div class="alert alert-success text-center" role="alert"><%= value %></div>
<% end %>
<%= link_to 'Home', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
<div id="picks" class="container">
  <div class="title user-title text-center shadow-text "><%=@user.username%></div>
  <div id="table" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Character</th>
              <th>Prediction</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.characters.each do |c| %>
            <tr>
              <td style="width:10%"><%= image_tag "characters/"+c.name+".jpg", :class=>"image-character" %></td>
              <td id="<%c.name%>" style="width:30%"class="text-center character-name shadow-text"><%= c.name %></td>
              <td style="vertical-align:middle">
                <div class="d-flex shadow-text">
                  <button id="alive-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="alive" role="button" class="btn shadow-text btn-character <%= 'btn-alive' if c.status.eql?"alive" %>" onclick="character_status(this)">Alive</button>
                  <button id="dead-<%=c.cid%>"  character="<%=c.name%>" cid="<%=c.cid%>" status="dead"  role="button" class="btn shadow-text btn-character <%= 'btn-dead' if c.status.eql?"dead" %>" onclick="character_status(this)">Dead</button>
                <% if !c.name.eql? "The Night King" and !c.name.eql? "Viserion"%>
                  <button id="wight-<%=c.cid%>" character="<%=c.name%>" cid="<%=c.cid%>" status="wight" role="button" class="btn shadow-text btn-character <%= 'btn-wight' if c.status.eql?"wight" %>" onclick="character_status(this)">Wight</button>
                <%end%>
                  </div>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class='row' style="margin-bottom:6rem">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="card bonus-card">
      <article class="card-body">
      	<div class="card-title sub-title text-center mb-4 mt-1 shadow-text">Bonus Questions</div>
        <%= render 'formAnswer', user: @user %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
