<% content_for :title, "Death Pool"%>
<pre class="title text-center shadow-text " style="margin:0px">Game   of   Thrones   Death   Pool</pre>
<% if current_user %>
<div class="container">
  <div class="row shadow-text">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-center">
      <div style="font-size:2rem">Players</div>
      <div style="font-size:3rem"><%=User.count%></div>
    </div>
    <div class="col-sm-4 text-center">
      <div style="font-size:2rem">Pot</div>
      <div style="font-size:3rem">$<%=User.count*10%></div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3 text-center shadow-text">
      <div style="font-size:3rem">1st Place</div>
      <div style="font-size:2rem"><%=first_place.username%></div>
      <div style="font-size:1rem"><%=first_place.points%> points</div>
    </div>
    <div class="col-sm-4 text-center shadow-text">
      <div style="font-size:3rem">2nd Place</div>
      <div style="font-size:2rem"><%=second_place.username%></div>
      <div style="font-size:1rem"><%=second_place.points%> points</div>
    </div>
    <div class="col-sm-3 text-center shadow-text">
      <div style="font-size:3rem">3rd Place</div>
      <div style="font-size:2rem"><%=third_place.username%></div>
      <div style="font-size:1rem"><%=third_place.points%> points</div>
    </div>
    <div class="col-sm-1"></div>
    <%= link_to 'Spoiler-Free Leaderboards', spoilerfree_path, :class=>"btn btn-outline-dark color", :style=>"margin:auto;margin-top:1rem"%>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;" class="far fa-chart-bar"></i>
      <div style="font-size:2rem">Statistics</div>
      <div style="font-szie:1rem">See the average prediction of each character</div>
      <%= link_to 'Statistics', statistics_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;" class="fab fa-wpforms"></i>
      <div style="font-size:2rem">Entry</div>
      <div style="font-szie:1rem">View and edit your entry and bonus questions</div>
      <%= link_to 'View/Update', user_path(current_user.uuid), :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;backgorund-color:red" class="fas fa-gavel"></i>
      <div style="font-size:2rem">Rules</div>
      <div style="font-szie:1rem">Read the rules and FAQ</div>
      <pre style="font-szie:1rem"></pre>
      <%= link_to 'View the Rules', rules_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-poll"></i>
      <div style="font-size:2rem">Leaderboards</div>
      <div style="font-szie:1rem">Check out the Leaderboards and see who is in the lead!</div>
      <div style="font-szie:1rem"><strong>Warning: SPOILERS ahead</strong></div>
      <%= link_to 'Leaderboards', leaderboards_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-wine-glass-alt"></i>
      <div style="font-size:2rem">Drinking Game</div>
      <div style="font-szie:1rem">See the rules for the Game of Thrones drinking game.</div>
      <%= link_to 'Drinking Game', drink_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-cogs"></i>
      <div style="font-size:2rem">Account Settings</div>
      <div style="font-szie:1rem">View, update, and edit your account</div>
      <%= link_to 'Account', edit_user_path(current_user.uuid), :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
  </div>
</div>
<% if !current_user.payed %>
  <div id="scum" class="text-center shadow-text">You have NOT paid your entry fee yet</div>
<% end %>
<div id="current-user" class=" bottomalignedright shadow-text ">
  Welcome <%= current_user.username %>
  <%= link_to 'Log Out', logout_path, :class=>"btn btn-log-out btn-main btn-outline-light" %>
</div>
</div>
<% else %>

<div class="container">
  <div class='row'>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="card">
      <article class="card-body">
        <%= link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-outline-dark top-aligned-left", :role=>"button" %>
      	<h4 class="card-title text-center mb-4 mt-1" style="color:black;font-size:2rem">Login</h4>
        <%= form_tag sessions_path do |form| %>
        	<form>
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
             <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control" %>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
             <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control"%>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<button type="submit" class="btn btn-primary btn-block"> Login  </button>
        	</div> <!-- form-group// -->
        	</form>
        <% end %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<% end %>
<p id=”notice”><%= notice %></p>
