<% content_for :title, "Death Pool"%>
<% flash.each do |key, value| %>
  <% if value.include? "Error" %>
    <div class="alert alert-danger text-center" role="alert"><%= value %></div>
  <% else %>
    <div class="alert alert-success text-center" role="alert"><%= value %></div>
  <%end%>
<% end %>
<% if current_user %>
<div id="current-user" class="shadow-text bottom-bar-info"> Welcome <%= current_user.username %>   <%= link_to 'Log Out', logout_path, class:"btn btn-log-out btn-outline-light" %></div>
<% end %>
<pre class="title text-center shadow-text w-100" style="padding-top:0px">Game   of   Thrones   Death   Pool</pre>
<div class="container">
  <div class="row m-auto">
    <div class="col-sm-4 align-items-center justify-content-center">
      <div class="text-center shadow-text h2">Current Leader</div>
      <div class="text-center shadow-text h1"><strong><%=first_place.username%></strong></div>
      <div class="text-center shadow-text h3 mb-4"><%=first_place.points%> points</div>
      <div class="text-center shadow-text h3 mt-4">Total Pot: $910 CAD / $683 USD</div>
      <!-- <div class="text-center">
        <div class="time-info text-center">Predictions can be made until <strong>ONE</strong> hour before season 8 starts</div>
        <div>
          <ul class=list-inline>
            <li class="list-inline-item">
              <p id="day" class="time"></p>
              <p class="date">Days</p>
            </li>
            <li class="list-inline-item">
              <p id="hour" class="time"></p>
              <p class="date">Hours</p>
            </li>
            <li class="list-inline-item">
              <p id="minute" class="time"></p>
              <p class="date">Min</p>
            </li>
            <li class="list-inline-item">
              <p id="second" class="time"></p>
              <p class="date">Sec</p>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <% if current_user and current_user.house %>
        <div id="house" class="sub-title text-center shadow-text"><%=current_user.house.name%></div>
        <div id="sigil" class="text-center"><%= image_tag current_user.house.image, class:"image-house" %></div>
        <pre id="words" class="title words text-center shadow-text"><%=current_user.house.words%></pre>
      <%end %>
    </div>
  </div>
<% if current_user %>
  <div class="row middle-bar align-items-center">
    <div class="col-sm-4">
      <!-- <div class="sub-title text-center shadow-text">Current Leader</div>
      <div class="text-center shadow-text h1"><%=first_place.username%></div> -->
      <div class="text-center shadow-text h3">Epsiode <%=current_episode%> Preview</div>
      <iframe id="player" style="width:100%;"src="<%= video %>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-4 order-first order-sm-2 text-center">
      <div class="card prediction-card">
        <i class="bottom-bar-icon fab fa-wpforms"></i>
        <div class="bottom-bar-name shadow-text">Predictions</div>
        <!-- <div class="bottom-bar-info shadow-text">Make your predictions for the FINAL season of Game of Throns. Guess who is ging to live, die, or become a wight and answer the bonus questions</div> -->
        <%= link_to 'View Your Predictions', user_path(current_user.uuid), class:"btn btn-warning btn-block btn-prediction mx-auto"%>
        <%= link_to 'View Your House\'s Predictions', house_path(current_user.house.name), class:"shadow-text btn btn-info btn-block mx-auto mt-2"%>
      </div>
    </div>
    <div class="col-sm-4 order-first order-sm-2">
      <div class="card prediction-card pt-0 pb-4">
        <article class="card-body m-0 p-0">
          <div class="card-title bottom-bar-name text-center shadow-text p-0 m-0">Weekly House Questions</div>
          <div class="question text-center shadow-text m-0 p-0">Episode <%=current_episode%></div>
          <% if current_user.role.eql? "admin" %>
            <%= render 'formHouseAnswer', user: @user %>
          <% else %>
            <div class="question text-center shadow-text m-0 p-0">Questions will be available on Wednesday, April 17th</div>
          <% end %>
        </article>
      </div> <!-- card.// -->
    </div>
  </div>
  <% if !current_user.paid %>
    <div id="scum" class="text-center shadow-text">You have NOT paid your entry fee yet. Read the FAQ</div>
  <% end %>
  <div class="row align-items-end bottom-bar mb-0">
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class=" bottom-bar-icon fas fa-gavel"></i>
      <div class="bottom-bar-name">Rules</div>
      <div class="bottom-bar-info">Read the rules and FAQ</div>
      <div class="bottom-bar-info"style="color:transparent;text-shadow:none">.</div>
      <%= link_to 'View the Rules', rules_path, class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class="bottom-bar-icon far fa-chart-bar"></i>
      <div class="bottom-bar-name">Statistics</div>
      <div class="bottom-bar-info">The average prediction of each character</div>
      <%= link_to 'Statistics', characters_path, class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class="bottom-bar-icon fas fa-home"></i>
      <div class="bottom-bar-name">Houses</div>
      <div class="bottom-bar-info">See the house standings and house members</div>
      <%= link_to 'Houses', houses_path, class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class="bottom-bar-icon fas fa-poll"></i>
      <div class="bottom-bar-name">Leaderboards</div>
      <div class="bottom-bar-info">Check out everyones current poistion!</div>
      <%= link_to 'Leaderboards', users_path, class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class="bottom-bar-icon fas fa-wine-glass-alt"></i>
      <div class="bottom-bar-name">Drinking Game</div>
      <div class="bottom-bar-info">Get drunk while watching Game of Thrones.</div>
      <%= link_to 'Drinking Game', drinks_path, class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
    <div class="home-col col-sm-2 text-center shadow-text mb-1">
      <i class="bottom-bar-icon fas fa-cogs"></i>
      <div class="bottom-bar-name">Account Settings</div>
      <div class="bottom-bar-info">View, update, and edit your account</div>
      <%= link_to 'Account', edit_user_path(current_user.uuid), class:"btn btn-outline-light btn-main btn-block mx-auto mt-3"%>
    </div>
  </div>
</div>
<% else %>
<% content_for :title, " - Login"%>
  <div class="position row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="bonus-card">
      <article class="card-body">
        <% link_to 'Sign Up', signup_path, id:"sign-up", class:"btn btn-outline-light top-aligned-left", role:"button" %>
      	<div class="card-title text-center mb-4 mt-1 h2">Login</div>
        <%= form_tag sessions_path do |form| %>
        	<form>
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
             <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control input-group-form" %>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
             <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control input-group-form"%>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
            <%= submit_tag 'Login', class:"btn btn-primary btn-block" %>
        	</div> <!-- form-group// -->
          <div class="form-group shaow-text">
            <%=link_to "Forgot Password?", new_password_reset_path, class:"shadow-text"%>
          </div>
        	</form>
        <% end %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<% end %>

<script>
$(document).ready(function () {
 bg = $("#background").css("background-image")
 if(bg.includes("got1") || bg.includes("got5")){
   $(".time").css('color',"#f9f2de")
   $(".date").css('color',"#f9f2de")
   $(".time-info").css('color',"#f9f2de").addClass("shadow-text")
 }
 if(bg.includes("got0")){
   $("#house").css("color","#262626").removeClass("shadow-text")
   $("#words").css("color","#262626").removeClass("shadow-text")
 }
});
$(document).ready(video_resize());
$(window).resize(function () {video_resize();
});
</script>
