<% content_for :title, "Death Pool"%>
<pre class="title text-center shadow-text">Game   of   Thrones   Death   Pool</pre>
<div class="container">
  <div class="row m-auto clock">
    <div class="col-sm-4 align-items-center justify-content-center">
      <div class="text-center">
        <div class="time-info text-center">Predictions can be made until <strong>ONE</strong> hour before season 8 starts</div>
        <div style="">
          <ul class=list-inline>
            <li class="list-inline-item">
              <p id="day" class="time"></p>
              <p class="date">Days</p>
            </li>
            <li class="list-inline-item">
              <p id="hour" class="time"></p>
              <p class="date">Hours</p>
            </li>
            <li class="list-inline-item">
              <p id="minute" class="time"></p>
              <p class="date">Min</p>
            </li>
            <li class="list-inline-item">
              <p id="second" class="time"></p>
              <p class="date">Sec</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8"></div>
  </div>
<% if current_user %>
  <div class="position row align-items-center" style="">
    <div class="col-sm-4 text-center shadow-text">
      <div style="font-size:3rem">1st Place</div>
      <div style="font-size:2rem"><%=first_place.username%></div>
      <div style="font-size:1rem"><%=first_place.points%> points</div>
    </div>
    <div class="col-sm-4 text-center shadow-text">
      <%if second_place%>
      <div style="font-size:3rem">2nd Place</div>
      <div style="font-size:2rem"><%=second_place.username%></div>
      <div style="font-size:1rem"><%=second_place.points%> points</div>
      <%end%>
    </div>
    <div class="col-sm-4 text-center shadow-text">
      <%if third_place%>
      <div style="font-size:3rem">3rd Place</div>
      <div style="font-size:2rem"><%=third_place.username%></div>
      <div style="font-size:1rem"><%=third_place.points%> points</div>
      <%end%>
    </div>
  </div>
  <div class="objects row align-items-end">
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;backgorund-color:red" class="fas fa-gavel"></i>
      <div style="font-size:2rem">Rules</div>
      <div style="font-size:1.25rem">Read the rules and FAQ</div>
      <div style="font-size:1.25rem;color:transparent;text-shadow:none">.</div>
      <%= link_to 'View the Rules', rules_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;" class="far fa-chart-bar"></i>
      <div style="font-size:2rem">Statistics</div>
      <div style="font-size:1.25rem">The average prediction of each character</div>
      <%= link_to 'Statistics', statistics_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem;" class="fab fa-wpforms"></i>
      <div style="font-size:2rem">Predictions</div>
      <div style="font-size:1.25em">View and edit your entry and bonus questions</div>
      <%= link_to 'Make Predictions', user_path(current_user.uuid), :class=>"btn btn-outline-primary btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-poll"></i>
      <div style="font-size:2rem">Leaderboards</div>
      <div style="font-size:1.25rem">Check out everyones current poistion!</div>
      <!-- <div style="font-size:1.25rem"><strong>SPOILERS AHEAD</strong></div> -->
      <%= link_to 'Leaderboards', leaderboards_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
      <!--<%= link_to 'Spoiler-Free Leaderboards', spoilerfree_path, :class=>"btn btn-outline-dark color", :style=>"margin:auto;margin-top:1rem"%> -->
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-wine-glass-alt"></i>
      <div style="font-size:2rem">Drinking Game</div>
      <div style="font-size:1.25rem">The rules for the Game of Thrones drinking game.</div>
      <%= link_to 'Drinking Game', drink_path, :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
    <div class="col-sm-2 text-center shadow-text">
      <i style="font-size:5rem"class="fas fa-cogs"></i>
      <div style="font-size:2rem">Account Settings</div>
      <div style="font-size:1.25rem">View, update, and edit your account</div>
      <%= link_to 'Account', edit_user_path(current_user.uuid), :class=>"btn btn-outline-light btn-main color", :style=>"margin:auto;margin-top:1rem"%>
    </div>
  </div>
</div>
<% if !current_user.payed %>
  <div id="scum" class="text-center shadow-text">You have NOT paid your entry fee yet</div>
<% end %>
<div id="current-user" class=" bottomalignedright shadow-text ">
  Welcome <%= current_user.username %>
  <%= link_to 'Log Out', logout_path, :class=>"btn btn-log-out btn-outline-light" %>
</div>
</div>
<% else %>
  <div class='row'>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="card">
      <article class="card-body">
        <%= link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-outline-dark top-aligned-left", :role=>"button" %>
      	<h4 class="card-title text-center mb-4 mt-1" style="color:black;font-size:2rem">Login</h4>
        <%= form_tag sessions_path do |form| %>
        	<form>
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
             <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control" %>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
             <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control"%>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
            <%= submit_tag 'Login', :class=>"btn btn-primary btn-block" %>
        	</div> <!-- form-group// -->
        	</form>
        <% end %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<% end %>
<p id=”notice”><%= notice %></p>

<script>
$(document).ready(function () {
 bg = $("#background").css("background-image")
 if(bg.includes("got1") || bg.includes("got6")){
   $(".time").css('color',"#f9f2de")
   $(".date").css('color',"#f9f2de")
   $(".time-info").css('color',"#f9f2de")
 }
});
// Set the date we're counting down to
var countDownDate = new Date("Apr 14, 2019 18:00:0").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  if(days<10){
    days = "0" +days
  }
  if(hours<10){
    hours = "0" +hours
  }
  if(minutes<10){
    minutes = "0" +minutes
  }
  if(seconds<10){
    seconds = "0" +seconds
  }

  $("#day").text(days+" :");
  $("#hour").text(hours+" :");
  $("#minute").text(minutes+" :");
  $("#second").text(seconds);

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
