<% content_for :title, "Death Pool"%>
<div id="title" class="title text-center shadow-text">Game of Thrones Death Pool</div>
<% if current_user %>
  <div id="current-user" class=" bottomalignedright shadow-text">
    Logged in as <%= current_user.email %>
    <%= link_to 'Log Out', logout_path, :class=>"btn btn-log-out" %>
  </div>
<% else %>
<div class="container-fluid" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div id="" class="col-sm-4">
      <%= link_to 'Log In', login_path, :id=>"log-in", :class=>"btn btn-main btn-outline-light btn-log-in", :role=>"button" %>
      <%= link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-main btn-outline-dark btn-sign-up ", :role=>"button" %>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<% end %>
<p id=”notice”><%= notice %></p>
