<% content_for :title, "Death Pool"%>
<div id="title" class="title text-center shadow-text">Game of Thrones Death Pool</div>
<% if current_user %>
  <table style="color:white;margin-left:1vw;margin-bottom: 0.1vw; width:auto" class="table table-condensed ">
    <thead>
      <tr class="shadow-text table-top">
        <th class="text-center">Charcter</th>
        <th class="text-center">Alive or Dead</th>
        <th class="text-center">Whitewalker</th>
      </tr>
    </thead>
    <tbody class="unit-table">
      <% current_user.characters.each do |c| %>
        <% if c.id%2 ==  0 %>
          <tr class="tablerow1" style="background-color:(240,240,240,0.4)">
        <% else %>
          <tr class="tablerow2 shadow-text" style="background-color:rgba(0, 0, 0, 0.4)">
        <% end %>
          <td id="" class=" text-center character-name"><%= c.name %></td>
          <td id="" class=" text-center character-dead"><button><%if c.dead %>Dead<% else %>Alive<%end%></button></td>
          <td id="" class=" text-center character-wlaker"><button><%if c.walker %>Yes<% else %>No<%end%></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="current-user" class=" bottomalignedright shadow-text">
    Logged in as <%= current_user.email %>
    <%= link_to 'Log Out', logout_path, :class=>"btn btn-log-out btn-main btn-outline-light" %>
  </div>








<% else %>
<div class="container-fluid" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div id="" class="col-sm-4">
      <%= link_to 'Log In', login_path, :id=>"log-in", :class=>"btn btn-main btn-outline-light btn-log-in", :role=>"button" %>
      <%= link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-main btn-outline-dark btn-sign-up ", :role=>"button" %>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<% end %>
<p id=”notice”><%= notice %></p>
