<pre class="title text-center shadow-text default-color" style="margin:0px">Character   Statistics</pre>
<div class="row content">
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">Most Predicted to stay alive</pre>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">Most Predicted to die</pre>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center shadow-text default-color" style="margin:0px">MOst predicted to be a wight</pre>
  </div>
</div>

<div class="row content">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8 default-color shadow-text">
    <div>
      <% Death.order(alive: :desc).all.each do |d| %>
      <div class="row content" style="margin-top:20px">
        <div class="col-sm-3" style="display:flex">
          <%= image_tag "characters/"+d.name+".jpg", :class=>"image-character" %>
          <div class="character-name" style="margin:auto"id="<%=d.name%>"><%=d.name%></div>
        </div>
        <div class="col-sm-7" style="display:flex">
          <div class="progress character-name">
            <div role="progressbar" class="progress-bar " style="display:inline-block;background-color:#52ad6a;width:<%=d.alive%>%"><span style="margin:auto"><i class="fas fa-heart"></i> <%=d.alive%>%</span></div>
            <div role="progressbar" class="progress-bar" style="display:inline-block;background-color:#ad5252;width:<%=d.dead%>%"><span style="margin:auto"><i class="fas fa-skull-crossbones"></i> <%=d.dead%>%</span></div>
            <div role="progressbar" class="progress-bar" style="display:inline-block;background-color:#5296ad;width:<%=d.wight%>%"><span style="margin:auto"><i class="fas fa-skull"></i> <%=d.wight%>%</span></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
