<% content_for :title, "Death Pool - Stats"%>
<pre class="title text-center shadow-text " style="margin:0px">Character   Statistics</pre>
<div class="container">
  <div class="row content bonus-card mb-4">
    <div class="col-sm-4">
      <div class="title sub-title text-center  shadow-text" style="margin:0px">Most Predicted to Live</div>
      <table class="table">
        <tbody class="unit-table">
          <% Death.unscoped.order(alive: :desc).first(5).each do |d| %>
            <tr class="tablerow1 shadow-text">
              <td><%= image_tag "characters/"+d.name+".jpg", class:"image-character" %></td>
              <td class="align-middle stat default-color"><%=d.alive%>% of people think <%=d.name%> will live</td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div class="title sub-title text-center shadow-text" style="margin:0px">Most Predicted to Die</div>
      <table class="table">
        <tbody class="unit-table">
          <% Death.unscoped.order(dead: :desc).first(5).each do |d| %>
            <tr class="tablerow1 shadow-text">
              <td><%= image_tag "characters/"+d.name+".jpg", class:"image-character" %></td>
              <td class="align-middle default-color stat"><%=d.dead%>% of people think <%=d.name%> will die</td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div class="title sub-title text-center shadow-text" style="margin:0px">Most predicted to be a Wight</div>
      <table class="table">
        <tbody class="unit-table">
          <% Death.unscoped.order(wight: :desc).first(5).each do |d| %>
            <tr class="tablerow1 shadow-text">
              <td><%= image_tag "characters/"+d.name+".jpg", class:"image-character" %></td>
              <td class="align-middle default-color stat"><%=d.wight%>% of people think <%=d.name%> will become a wight</td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% if current_user.role.eql? "admin" or current_user.role.eql? "moderator" %>
  <pre class="title sub-title shadow-text text-center mt-4 mx-auto">Top   Bonus   Question   Answers</pre>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="bonus-card">
        <% Question.all.each do |q| %>
          <div class="question-and-answer">
            <div class="question shadow-text"><%=q.qid%>. <%=q.text%></div>
            <div class="answer shadow-text character-name ml-4" style="color:#f9f2de;"><%=q.answer%></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
<%end%>

  <div class="row mt-4">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 shadow-text">
      <pre class="title sub-title shadow-text text-center mt-4">All   Character   Predictions</pre>
      <div id="stats">
        <% Death.unscoped.order(alive: :desc, dead: :desc, wight: :desc).all.each do |d| %>
        <% if !d.eql? Death.last %>
          <div class="row content bonus-card mt-4 pt-2 pb-2" style="">
            <div class="col-sm-3 d-flex mb-2">
              <%= image_tag "characters/"+d.name+".jpg", class:"image-character-stats" %>
              <div class="character-name text-center" style="margin:auto" id="<%=d.name%>"> <%=d.name%></div>
            </div>
            <div class="col-sm-9 d-flex my-auto">
              <div class="progress character-name" style="font-size:1.5rem">
                <div role="progressbar" class="alive progress-bar" style="width:<%=d.alive%>%"><div><i class="fas fa-heart"></i> <%= d.alive.to_s+"%" if d.alive >=12.00 %> </div></div>
                <div role="progressbar" class="dead progress-bar" style="width:<%=d.dead%>%"><div><i class="fas fa-skull-crossbones"></i> <%= d.dead.to_s+"%" if d.dead >=12.00 %> </div></div>
                <div role="progressbar" class="wigth progress-bar" style="width:<%=d.wight%>%"><div><i class="fas fa-skull"></i> <%= d.wight.to_s+"%" if d.wight >=12.00 %> </div></div>
              </div>
            </div>
          </div>
        <%end%>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <br>
  <br>
</div>
<%= link_to 'Home', root_url, class:"topalignedleft btn btn-outline-light btn-back shadow-text" %>
