<pre class="title text-center shadow-text " style="margin:0px">Character   Statistics</pre>
<div class="row content ">
  <div class="col-sm-4">
    <pre class="title sub-title text-center  shadow-text" style="margin:0px">Most Predicted as Alive</pre>
    <table class="table table-condensed ">
      <tbody class="unit-table">
        <% Death.order(alive: :desc).first(5).each do |d| %>
          <tr class="tablerow1 shadow-text">
            <td><%= image_tag "characters/"+d.name+".jpg", :class=>"image-character" %></td>
            <td class="align-middle character-name"><%=d.alive%>% of people think <%=d.name%> will live</td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center  shadow-text" style="margin:0px">Most Predicted as Dead</pre>
    <table class="table table-condensed ">
      <tbody class="unit-table">
        <% Death.order(dead: :desc).first(5).each do |d| %>
          <tr class="tablerow1 shadow-text">
            <td><%= image_tag "characters/"+d.name+".jpg", :class=>"image-character" %></td>
            <td class="align-middle character-name"><%=d.dead%>% of people think <%=d.name%> will die</td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <pre class="title sub-title text-center  shadow-text" style="margin:0px">Most predicted as Wight</pre>
    <table class="table table-condensed ">
      <tbody class="unit-table">
        <% Death.order(wight: :desc).first(5).each do |d| %>
          <tr class="tablerow1 shadow-text">
            <td><%= image_tag "characters/"+d.name+".jpg", :class=>"image-character" %></td>
            <td class="align-middle character-name"><%=d.wight%>% of people think <%=d.name%> will become a wight</td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row content ">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8 shadow-text">
    <pre class="title sub-title text-center  shadow-text" style="margin:0px">Overall    Predictions</pre>
    <div>
      <% Death.order(alive: :desc).all.each do |d| %>
      <div class="row content" style="margin-top:20px">
        <div class="col-sm-3" style="display:flex">
          <%= image_tag "characters/"+d.name+".jpg", :class=>"image-character-stats" %>
          <div class="character-name" style="margin:auto"id="<%=d.name%>"><%=d.name%></div>
        </div>
        <div class="col-sm-7" style="display:flex">
          <div class="progress character-name" style="font-size:1.5rem">
            <div role="progressbar" class="progress-bar " style="display:inline-block;background-color:#52ad6a;width:<%=d.alive%>%"><span style="margin:auto"><i class="fas fa-heart"></i> <%=d.alive%>%</span></div>
            <div role="progressbar" class="progress-bar" style="display:inline-block;background-color:#ad5252;width:<%=d.dead%>%"><span style="margin:auto"><i class="fas fa-skull-crossbones"></i> <%=d.dead%>%</span></div>
            <div role="progressbar" class="progress-bar" style="display:inline-block;background-color:#5296ad;width:<%=d.wight%>%"><span style="margin:auto"><i class="fas fa-skull"></i> <%=d.wight%>%</span></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<%= link_to 'Back', root_url, :class=>"topalignedleft btn btn-outline-light btn-back shadow-text" %>
