<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('got.png') %>
  </head>

  <body>
    <div id="background" class="background-image" style="background-image: url(/assets/got<%=rand(0..5)%>.jpg"></div>
    <%= yield %>
  </body>
</html>
